.login {
  /*height: 100%;*/
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1f2325;
  background-image: url('/static/img/login_bg.jpg');
  background-size: cover;
}

.login .login-topbar {
  height: 60px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  *zoom: 1;
}

.login .login-topbar:before, .login .login-topbar:after {
  content: "";
  display: table;
}

.login .login-topbar:after {
  clear: both;
}

.login .login-topbar .login-topbar-logo img {
  left: 20px;
  height: 24px;
  position: absolute;
  z-index: 1;
  top: 14px;
}

.login .login-topbar .login-topbar-logo img:first-child {
  z-index: 2;
}

.login .login-topbar .login-site-switch {
  float: right;
}

.login .login-topbar .login-site-switch .login-site-switch-box {
  position: relative;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  cursor: default;
  font-size: 14px;
  padding: 0 12px 0 35px;
}

.login .login-topbar .login-site-switch .login-site-switch-box img {
  left: 14px;
  position: absolute;
  width: 16px;
  top: 22px;
}

.login .login-topbar .login-site-switch .login-site-switch-box ul {
  display: none;
}

.login .login-topbar .login-site-switch .login-site-switch-box:hover {
  background-color: #272B2F;
}

.login .login-topbar .login-site-switch .login-site-switch-box:hover i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.login .login-topbar .login-site-switch .login-site-switch-box:hover ul {
  display: block;
  position: absolute;
  width: 108px;
  background-color: #272B2F;
  left: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.login .login-topbar .login-site-switch .login-site-switch-box:hover ul li {
  height: 38px;
  line-height: 38px;
  padding-left: 12px;
  margin: 0;
  padding: 0;
}

.login .login-topbar .login-site-switch .login-site-switch-box:hover ul li:hover {
  background-color: #202529;
}

.login .login-topbar .login-site-switch .login-site-switch-box:hover ul li:hover a {
  color: #00C1DE;
}

.login .login-topbar .login-site-switch .login-site-switch-box:hover ul li a {
  color: #ffffff;
  font-size: 14px;
  float: left;
  margin-left: 14px;
  text-decoration: none;
}

.login .login-topbar .login-site-switch .login-site-switch-box:hover ul li a:hover {
  text-decoration: none;
}

/* 上下箭头 */
.login .login-topbar .login-site-switch .iconfont.icon-jiantoushang {
  display: inline-block;
}

.login .login-topbar .login-site-switch .iconfont.icon-jiantouxia {
  display: none;
}

.login .login-topbar .login-link {
  float: right;
  margin: 0;
  list-style: none;
  *zoom: 1;
  padding-left: 10px;
}

.login .login-topbar .login-link:before, .login .login-topbar .login-link:after {
  content: "";
  display: table;
}

.login .login-topbar .login-link:after {
  clear: both;
}

.login .login-topbar .login-link li a {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.login .login-topbar .login-link li a:hover {
  color: #00c1de;
}

.login .login-body {
  height: 100%;
  padding: 74px 0 118px;
  text-align: center;
}

.login .login-body .login-body-box {
  width: 990px;
  margin: auto;
  position: relative;
  height: 388px;
}

.login .login-body .login-body-box iframe {
  width: 380px;
  padding-top: 22px;
  border: none;
  position: absolute;
  right: 0;
}

.login .login-body .login-body-box .login-body-txt-box {
  position: absolute;
  left: 0;
  color: #ffffff;
  text-align: left;
  top: 90px;
}

.login .login-body .login-body-box .login-body-txt-box h1 {
  font-size: 30px;
  color: #ffffff;
  line-height: 36px;
  margin-bottom: 19px;
  font-weight: bold;
}

.login .login-body .login-body-box .login-body-txt-box li {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.47px;
  line-height: 30px;
}

.login .login-body .login-body-box iframe {
  background-color: #ffffff;
}

ol, ul {
  list-style: none;
}

.login .login-module {
  width: 380px;
  height: 380px;
  padding-top: 22px;
  margin-top: 22px;
  border: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
}

.login .login-module .login-inner {
  margin: 0 25px 20px;
}

.width-vertical {
  width: 100%;
  margin-bottom: 20px;
}

.corner-icon-view {
  position: relative;
  height: 44px;
  width: 100%;
  margin: 0 auto;
}

.master-login-title {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
  margin: 0 auto 10px;
}

.corner-icon-view .master-login-title {
  border-bottom-width: 0;
}

.corner-icon-view .iconfont {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  color: #ff9000;
}

.corner-icon-view .login-tip {
  position: absolute;
  top: 0;
  right: 45px;
  display: block;
}

.corner-icon-view .poptip {
  line-height: 16px;
  position: relative;
  z-index: 9999;
  background-color: #e6f9fc;
  border: 1px solid #00c1de;
  padding: 5px 10px;
}

.corner-icon-view .poptip .poptip-content {
  color: #00c1de;
  font-size: 12px;
  font-weight: 400;
}

.corner-icon-view .poptip .poptip-arrow {
  position: absolute;
  z-index: 10;
  *zoom: 1;
  top: 8px;
  right: 0;
}

.corner-icon-view .poptip .poptip-arrow em, .corner-icon-view .poptip .poptip-arrow span {
  position: absolute;
  *zoom: 1;
  width: 0;
  height: 0;
  border-color: hsla(0, 0%, 100%, 0);
  border-color: transparent \0;
  *border-color: transparent;
  _border-color: #e6f9fc;
  _-webkit-filter: chroma(color=#e6f9fc);
  border-style: solid;
  overflow: hidden;
  top: 0;
  left: 0;
  border-left-color: #00c1de;
}

.corner-icon-view .poptip .poptip-arrow em {
  top: 0;
  left: 1px;
  border-left-color: #00c1de;
  border-width: 6px 0 6px 6px;
}

.corner-icon-view .poptip .poptip-arrow span {
  border-left-color: #e6f9fc;
  border-width: 6px 0 6px 6px;
}

.width-vertical .login-content {
  width: 100%;
  margin: 0 auto;
}

.login-error {
  border: 1px solid #ff934c;
  background: #fefcee;
  margin-bottom: 16px;
  font-size: 14px;
  padding: 5px 8px;
  overflow: hidden;
  display: none;
}

.login-error .iconfont {
  color: #ff934c;
  float: left;
}

.login-error .login-error-msg {
  font-size: 12px;
  padding-left: 20px;
  text-align: left;
}

.login-form {
  padding-top: 10px;
}

.login-form .fm-field {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
}

.login-form .fm-field .fm-label {
  color: #222222;
  background-color: #d7d8d9;
  display: none;
}

.login-form .fm-field .input-wrap {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.login-form .fm-field .input-wrap .fm-text {
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 42px;
  width: 100%;
  outline: none;
  font-size: 12px;
  padding: 0 10px;
  margin: 0;
}

.login-form .fm-field .input-wrap .fm-text:focus, .login-form .fm-field .input-wrap .fm-text:hover {
  border-color: #00c1de;
}

.login-form .fm-field .fm-label-icon .iconfont {
  font-size: 24px;
}

.login-form .fm-btn {
  margin-top: 10px;
}

.login-form .fm-btn .fm-button {
  height: 42px;
  line-height: 42px;
  outline: none;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  border: 1px solid #00c1de;
  background-image: none;
  background-color: #00c1de;
  border-radius: 0;
  font-size: 14px;
  -webkit-box-shadow: 0 1px 1px #ebe7e6;
  box-shadow: 0 1px 1px #ebe7e6;
  zoom: 100%;
}
